@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
html{
        filter:
        sepia(35%);
    background-color: #000;
    color: #E0E2DB;
    font-family: Onest;
    font-size: 14pt;
    overflow-x: hidden;
}

.hd2logo{
    cursor: pointer;
    height: 64px;
    width: 64px;
}
.title{
    border-bottom: 3px solid #CAC4CE;
    margin-bottom: 25px;
    font-family: 'Onest';
    font-size: 1.4em;
}
.name-thing
{
    font-size: 1.2em;
    letter-spacing: .2rem;
     font-family: 'Onest Thin';
    color: #ffee44;
}
/*.booster
{
    height: 88px !important;
    padding-top: 16px;
    padding-bottom: 16px;
}*/
.yellow
{
    color: #ffffff;
    font-weight: bold;
}
.container {
    display:none;
    width: 80%;
    margin:0 auto;
}
.listainer{
    padding-top:30px;
    margin: 0 auto;
    display: flex;
    gap:0;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #fae81d;
}
ul {
    width: 33.33333333%;
    list-style-type: none;
}

li{
    text-align: center;

}
img {
    height: 120px;
    margin-bottom: 10px;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.loadout-icon{
    padding-bottom: 20px;
}
.buttonhere{
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.flat-button:hover {
    background-color: #fae823;
}
.armor-desc
{
    padding-top:10px;
    height: 140px;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

footer
{
    display: none;
    text-align: right;
}
@media (max-width: 768px) {
    .container{
        width:100%;
        padding: 5px;
    }
    img{
        height: 69px;
        margin-right: 2px;
    }
     .armor-desc
     {
        height: 90px;
     }

    body{
        font-size:10pt;
    }
    ul
    {
        font-size: 8pt;
        width: 30%;
        padding: 0;
    }
    li
    {
        width: auto;
    }
}


.cinderimg {
    width: 10px; /* Adjust the width to your desired size */
    height: 10px; /* Adjust the height to your desired size */
}


.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes snowflakes-fall {
    0% { transform: translateY(0); }
    0% { transform: translateY(110vh); }
}

@keyframes snowflakes-shake {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(80px); }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.snowflake .inner {
    animation-duration: 7s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s;
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s;
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 0.5s;
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}

