@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


html{
        filter:
        sepia(35%);
    background-color: #000000;
    color: #E0E2DB;
    font-family: Onest;
    font-size: 14pt;
    overflow-x: hidden;
}

.hd2logo{
    cursor: pointer;
    height: 64px;
    width: 64px;
}
.title{
    border-bottom: 3px solid #fae81d;
    margin-bottom: 25px;
    font-size: 1.4em;
}
.name-thing
{
    font-weight: bold;
    color: #FFF;
}
/*.booster
{
    height: 88px !important;
    padding-top: 16px;
    padding-bottom: 16px;
}*/
.yellow
{
    color: #ffffff;
    font-weight: bold;
}
.container {
    display:none;
    width: 80%;
    margin:0 auto;
}
.listainer{
    padding-top:30px;
    margin: 0 auto;
    display: flex;
    gap:0;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #fae81d;
}
ul {
    width: 33.33333333%;
    list-style-type: none;
}

li{
    text-align: center;

}
img {

    height: 120px;
    margin-bottom: 10px;
}
.loadout-icon{
    padding-bottom: 20px;
}
.buttonhere{
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.flat-button:hover {
    background-color: #fae823;
}
.armor-desc
{
    padding-top:10px;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}
footer
{
    display: none;
    text-align: right;
}
@media (max-width: 768px) {
    .container{
        width:100%;
        padding: 5px;
    }
    img{
        height: 60px;
        margin-right: 2px;
    }
    body{
        font-size:10pt;
    }
    ul
    {
        font-size: 8pt;
        width: 30%;
        padding: 0;
    }
    li
    {
        width: auto;
    }
}
